{  "env": {    "browser": true,    "es6": true,    "jest": true  },  "parser":"babel-eslint",  "parserOptions": {    "sourceType": "module",    "ecmaFeatures": {      "globalReturn": true,      "impliedStrict": true,      "jsx": true,      "modules": true,      "spread": true,      "restParams": true    }  },  "rules": {    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]  }}