{  "env": {    "node" : true,    "es6" : true,    "jest": true  },  "parserOptions": {    "sourceType": "module"  },  "plugins": ["prettier","eslint-plugin-react"],  "extends": [    "prettier"  ],  "rules": {    "prettier/prettier": "error"  }}